<div class='card-deck'>
    <div *ngFor='let eachSpecialist of  doctorList' class='card'>
        <div class='card-img-top'><img src="{{doctor}}" alt="Doctor" class='img logo'></div>
        <div class='card-header'>{{eachSpecialist.doctorName}}</div>
        <div class='card-body'>{{eachSpecialist.specialization}}</div>
        <div class='card-footer'>{{eachSpecialist.mobileNumber}}</div>
    </div>

</div>

<div>
    <label>Enter Your Pincode</label>
    <input type="text" [(ngModel)]='codeNumber'>
    <app-find-service-area [pinCode]='codeNumber' (response)='onChange($event)'></app-find-service-area>
</div>

{{srchResult}}

<button (click)='add()' class='btn btn-danger'>Add</button>

<div #locationInfo></div>

<app-testimony></app-testimony>