<nav class='navbar navbar-expand-md bg-light'>
    <ul class="navbar-nav">
        <li *ngFor='let eachLink of linkReferences' class="nav-item">
            <a [routerLink]="[eachLink.linkRef]" class="nav-link">{{eachLink.linkText}}</a>
        </li>
        <li *ngIf='showLogin' class="nav-item"><a [routerLink]="['login']" class="nav-link" appHighLight>Login</a></li>
        <li *ngIf='showLogout' class="nav-item"><a [routerLink]="['logout']" class="nav-link" appHighLight>Logout</a></li>

    </ul>

</nav>