<table class='table table-bordered'>
    <tr>
        <td colspan='3'><input type='text' [(ngModel)]='srchCondition'></td>
        <td></td>
    </tr>
    <tr>
        <th>Transaction Id</th>
        <th>Transaction Date</th>
        <th>Description</th>
        <th>Amount</th>
    </tr>
    <tr *ngFor="let eachData of hisdata | filter :'tranAmount':srchCondition |paginate:{itemsPerPage:2,currentPage:p}">
        <td>{{eachData.id}}</td>
        <td>{{eachData.tranDate| date :"short"}}</td>
        <td>{{eachData.description | uppercase}}</td>
        <td>{{eachData.tranAmount | currency :'INR ':'symbol'}}</td>
    </tr>
</table>

<pagination-controls (pageChange)='p=$event'></pagination-controls>